    #content{
    background-image: url(top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.avif);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #989;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
#sec1{
    background-color: aqua;
}
#sec2{
    background-color: beige;
}
#sec3{
    display: flex;
}
.box1{
    background-color: navajowhite;
}
.box2{
    background-color: honeydew;
}
.box3{
    background-color: khaki;
}